html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #fff;
  width: 100vw;
  height: 20vh;
  z-index: 2;
}
header .headerleft {
  position: relative;
  top: 70px;
  left: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .headerleft p {
  font-size: 13px;
  font-weight: 400;
  color: #222;
  margin-right: 50px;
}
header .headermid {
  position: relative;
  top: 45px;
  right: 80px;
}
header .headerright {
  position: relative;
  top: 70px;
  right: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .headerright p {
  font-size: 13px;
  font-weight: 400;
  color: #222;
  margin-right: 40px;
}

main {
  width: 100%;
  height: 1000vh;
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
}
main .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .content img {
  width: 750px;
  height: 800px;
}
main .content .square {
  width: 750px;
  height: 800px;
  background: #FBF7F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
main .content .square p {
  width: 70%;
  font-size: 35px;
  font-weight: 100;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 60px;
}
main .content .square button {
  width: 240px;
  height: 60px;
  background: none;
  border: 1px solid black;
}
main .content .square button:hover {
  background: #333;
  color: white;
  transition: 0.5s;
}
main .introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .introduction p {
  font-size: 13px;
  font-weight: 400;
  color: #222;
  margin-bottom: 25px;
}
main .introduction h1 {
  font-size: 30px;
  font-weight: 300;
  color: #222;
  margin-bottom: 100px;
}/*# sourceMappingURL=styles.css.map */